/* ==UserStyle==
@name           Shiro Anilist
@version        0.1
@description    Google theme to fit my Shiro Arch rice
@author         wlfy.
@namespace      gitlab.com/wolfiy/shiro-arch-rice
@homepageURL    https://gitlab.com/wolfiy/shiro-arch-rice/-/blob/master/userCSS/anilist.css
@updateURL      https://gitlab.com/wolfiy/shiro-arch-rice/-/raw/master/userCSS/anilist.css
==/UserStyle== */

@-moz-document domain("anilist.co") {
:root {
    --light: 57, 30, 53;
    --dark: 36, 19, 34;
    
    --purple: #B2AFEB;
    --pink:  	226, 174, 228;
    --red: 254, 185, 199;
    --fpink: 244, 165, 221;
    --brown: 221, 191, 184;
    --search-bg: rgba(255, 255, 255, 0);
}

.site-theme-dark {
    --color-background: var(--dark) !important;
    --color-foreground: var(--light) !important;
    
    /*progress bar below days on profile*/
    --color-foreground-grey: var(--light) !important;
    
    /*text color*/
    --color-blue: var(--red) !important;
    --color-text: var(--brown) !important;
    --color-text-light: var(--brown) !important;
    
    /*behind following/global*/
    --color-foreground-blue: var(--dark) !important
}

/*header when on top*/
.site-theme-dark .nav-unscoped.transparent {
    background: rgba(57, 30, 53, 0.5) !important;
}

/*header when scrolled*/
.site-theme-dark .nav-unscoped {
    background: #391e35;
}

/*profile specific*/
.user-page-unscoped.blue .progress .bar {
    background: linear-gradient(270deg, #feb9c7,#F4A5DD); /*from red to fpink in hex*/
}

/*genres box*/
.name {
    /*TODO*/
}
}
