/* ==UserStyle==
@name           Shiro Google
@version        0.1
@description    Google theme to fit my Shiro Arch rice
@author         wlfy.
@namespace      gitlab.com/wolfiy/shiro-arch-rice
@homepageURL    https://gitlab.com/wolfiy/shiro-arch-rice/-/blob/master/userCSS/google.css
@updateURL      https://gitlab.com/wolfiy/shiro-arch-rice/-/raw/master/userCSS/google.css
==/UserStyle== */

@-moz-document domain("google.com") {
:root {
    --light: #391e35;
    --dark: #241322;
    
    --purple: #B2AFEB;
    --pink: #e2aee4;
    --red: #feb9c7;
    --fpink: #f4a5dd;
    --brown: #DDBFB8;
}

/*header*/
.logo {
    filter: grayscale(50%) !important;
}

.sfbg {
	background: var(--light) !important;
}

#hdtbSum {
	background: var(--light) !important;
}

/*search input*/
.RNNXgb {
    background: var(--dark) !important;
    border: 1px solid var(--dark) !important;
}

.gLFyf {
    color: var(--purple) !important;
}

.xtSCL {
    border-top: none !important;
}

.aajZCb {
    /*dropdown*/
    background: var(--dark) !important;
}

.sbl1 {
    color: var(--pink) !important;
}

.sbhl {
    background: var(--light) !important;
}

a.duf3 {
    color: #555 !important;
}

.lh87ke:link, .lh87ke:visited {
    color: #555 !important;
}

.lBbtTb {
    color: var(--purple) !important;
}

.FqnKTc {
    border-left: none !important;
}

.FAuhyb {
    color: var(--purple) !important;
}

/*scrolling*/
.minidiv .sfbg {
    background: var(--light) !important;
}

/*all, images, etc.*/
#hdtb-msb .hdtb-mitem.hdtb-msel {
    color: var(--pink) !important;
}

#hdtb .hdtb-mitem a {
    color: var(--pink) !important;
}

svg {
    filter: grayscale(50%) !important;
}

/*Body*/
#appbar {
    background: var(--dark) !important;
}

#hdtb {
    border-bottom: none !important;
}

body {
    background: var(--dark);
    color: var(--brown) !important;
}

/*texts*/
.a, cite, cite a:link, cite a:visited, .cite, .cite:link, .bc a:link, .eipWBe {
    color: var(--purple) !important;
}

.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
    background-color: var(--dark) !important;
}

a, a.feGi6e,a:visited {
    color: var(--fpink) !important;
}

.s, .f, .f a:link, a.fl:link, .fl a, .gl a:link,.hb8SAc {
    color: var(--brown) !important;
}

em {
    color: var(--pink) !important;
}

/*wikipedia box*/
.kno-ecr-pt, .Ss2Faf {
    color: var(--purple) !important;
}

.wwUB2c {
    color: var(--pink) !important;
}

.rhscol .I6TXqe {
    background: var(--light) !important;
    border: none !important;
    border-radius: 8px !important;
}

.w8qArf .fl {
    color: var(--red) !important;
}

div {
    border-bottom: none !important;
}

.HSryR a.B1uW2d {
    border-bottom: none !important;
}

/*top stories*/
.qmv19b {
    border: none !important;
    background: var(--light) !important;
}

.EPLo7b {
    border-top: none !important;
}

.FGlSad, .wqg8ad {
    color: var(--purple) !important;
}

.MXl0lf:hover, .MXl0lf {
    background: var(--light) !important;
    border: none !important;
    color: var(--purple) !important;
}

.wUrVib {
    color: var(--purple) !important;
}

/*ppl ask for*/
.cbphWd {
    border: none;
}
.JolIg {
    color: var(--purple);
}
.kp-blk {
    background: var(--light) !important;
    border: none !important;
}

/*twitter cards*/
g-inner-card {
    background-color: var(--light) !important;
}

.cv2VAd {
    border: none !important;
}

.kLhEKe {
    background-color: var(--light) !important;
}

.Ywxp6b {
    color: var(--purple);
}

.pb5vrc {
    background-color: var(--dark) !important;
}

/*left see results about*/
.garHBe {
    color: var(--purple) !important;
}

.y8Jpof:hover {
    background: var(--light) !important;
}

.xXEKkb {
    color: var(--pink) !important;
}

.cwUqwd {
    color: var(--brown) !important;
}

/*related searches*/
#brs .med {
    color: var(--purple) !important;
}

/*footer*/
.f6F9Be {
    background: var(--light) !important;
    border: none !important;
}

.b0KoTc, .smiUbb, #Wprf1b, .unknown_loc {
    color: var(--pink) !important;
}

#swml {
    border-left: none !important;
}

.SJajHc {
    filter: grayscale(50%) !important;
}

.YyVfkd {
    color: var(--pink) !important;
}

/*google images*/
.Lj9fsd, .jZWadf {
    background: var(--light) !important;
    top: 0px;
}

.ndYZfc {
    padding-top: 0px;
}

.F9PbJd {
    background-color: var(--light) !important;
    border: none !important;
}

.zthhpf, .lV0vqc,.fNHVKc {
    background: var(--dark) !important;
}

.fNHVKc {
    border: none;
}

.zthhpf {
    border-color: var(--dark) !important;
}

.JSAgYe {
    color: var(--purple) !important;
}

.o44hBf {
    color: var(--pink) !important;
}

.Vwmzxb {
    background: var(--light) !important;
}
}