/* ==UserStyle==
@name           shiro yt
@version        1.0
@description    youtube theme to fit my Shiro Arch rice
@author         wlfy.
@namespace      gitlab.com/wolfiy/shiro-arch-rice
@homepageURL    https://gitlab.com/wolfiy/shiro-arch-rice/-/blob/master/userCSS/youtube.css
@updateURL      https://gitlab.com/wolfiy/shiro-arch-rice/-/raw/master/userCSS/youtube.css
==/UserStyle== */

@-moz-document domain("youtube.com") {
    :root {
        --light: #391e35;
        --rlight: rgba(57, 30, 53, 1);
        --dark: #241322;
        --rdark: rgba(36, 19, 34, 1);
        
        --purple: #B2AFEB;
        --pink: #e2aee4;
        --red: #feb9c7;
        --fpink: #f4a5dd;
        --brown: #DDBFB8;
    }

    /*header*/
    html:not(.style-scope)[dark], :not(.style-scope)[dark] {
        /*header bg*/
        --yt-spec-brand-background-primary: var(--rlight) !important;
        
        /*search bar*/
        --ytd-searchbox-legacy-border-color: var(--rlight) !important;
        --ytd-searchbox-legacy-button-border-color: var(--rlight) !important;
        --ytd-searchbox-legacy-button-hover-border-color: var(--rlight) !important;
        
        /*text*/
        --yt-spec-text-primary: var(--brown) !important;
        
        --yt-searchbox-background: var(--dark) !important;
        
        /*buttons*/
        --yt-button-color: var(--purple) !important;
    }

    /*sidebar*/
    #guide-content.ytd-app {
        background: var(--rlight) !important;
    }

    ytd-mini-guide-entry-renderer, ytd-mini-guide-renderer {
        background-color: var(--light) !important;
    }

    /*body*/
    ytd-app {
        background: var(--dark) !important;
    }

    /*channel*/
    ytd-browse[page-subtype="channels"] {
        background: var(--dark) !important;
    }

    #channel-header.ytd-c4-tabbed-header-renderer, #tabs-inner-container.ytd-c4-tabbed-header-renderer {
        background-color: var(--light) !important;
    }

    /*player*/
    a.yt-simple-endpoint.ytd-toggle-button-renderer {
        color: var(--purple) !important;
    }

    /*progress bar*/
    .ytp-swatch-background-color {
        background-color: var(--purple) !important;
    }

    /*title*/
    ytd-video-primary-info-renderer {
        border-bottom: none !important;
    }

    /*description*/
    ytd-video-secondary-info-renderer {
        border-bottom: none !important;
    }

    ytd-metadata-row-header-renderer[has-divider-line] {
        border-top: none !important;
    }

    /*description credits links*/
    yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
        color: var(--purple) !important;
    }

    /*like ratio bar*/
    ytd-sentiment-bar-renderer[activated_] #like-bar.ytd-sentiment-bar-renderer {
        background-color: var(--purple) !important;
    }

    /*subscribe button*/
    paper-button.ytd-subscribe-button-renderer {
        background-color: var(--light) !important;
        color: var(--brown) !important;
    }

    /*comments*/
    a.yt-simple-endpoint.yt-formatted-string {
        color: var(--red) !important;
    }

    /*play next*/
    ytd-compact-autoplay-renderer {
        border-bottom: none !important;
    }

    /*autoplay*/
    paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button {
        background-color: var(--purple) !important;
    }

    /*save*/
    paper-dialog {
        background: var(--dark) !important;
    }

    #header.ytd-add-to-playlist-renderer {
        border-bottom: none !important;
    }

    #playlists.ytd-add-to-playlist-renderer {
        border-bottom: none !important;
    }
}
